.contacts header {
  justify-content: center;
}

.contacts .person-icon {
  width: 33%;
max-width: 300px;
}

.contacts .person-icon img {
  width: 100%;

}

.contacts .star {
  text-align: right;
  padding: 3px 5px;
  width: 8%;
}

.contacts .data {
  width: 58%;
}

.contacts .name {
  font-size: 1.2em;
}

.contacts .company {
  font-size: .9em;
  color: #b2b2b2;
}
